html, body {
	background-image: linear-gradient(to bottom, rgba(105,0,173,1), rgba(71,34,195,1));
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Roboto;
	color: white;
}


#start {
	background-color: whitesmoke;
	box-shadow: 5px 5px 5px #200347;
	border-radius: 10px;
	height: 10%;
	width: 15%;

	position: absolute;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	overflow-x:hidden;
	font-size: calc(1em + 1vw);
}

#main {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	color: whitesmoke;
}

#menu {
	color: white;
	width: 2%;
	height: 2%;
}

#time {
	margin-top: -2%;
	text-align: center;
	font-size: calc(9em + 9vw);
}

#date {
	color: rgb(185, 185, 185);
	margin-top: -15%;
	text-align: center;
	font-size: calc(0.5em + 0.5vw);
}


#city {
	color: rgb(185, 185, 185);
	font-size: calc(0.5em + 0.5vw);
	margin-top: 20%;
	text-align: center;
}

#error {
	margin-top: 15%;
	font-size: calc(3em + 3vw);
	text-align: center;
	color: white;
	margin-top: 15%;
}

#current_weather {
	float: left;
	position: absolute;
	margin-left: 25%;
}

#weather {
	float: right;
	margin-right: 20%;
	margin-top: 11%;
	/* margin-top: 7.5%; */
	font-size: calc(3em + 3vw);
}

#weather_icon {
	float: left;
	width: 60%;
	height: 60%;
	margin-left: -25%;
	margin-top: -10%;
	color: white;
	position: relative;
}